#contact {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 11.5px;
    span {
        color: $base;
        padding: 0 20px;
        font-size: 0.8em;
    }
    a {
        position: relative;
        font-size: 2em;
        color: $base;
        padding: 0 5vw;
        i {
            position: absolute;
            bottom: 0;
        }
    }
    a:hover {
        color: $highlight;
    }
}

.fa-heart {
    color: red;
}

.contact-links {
    min-width: 165px;
}