$base: #ffffff;
$darker-base: #e2e2e2;
$light-accent: #d1274b;
$background: #871c3a;
$dark-accent: #3d0e1e;
$highlight: #f88020;
$tertiary: #204ff8;

body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    font-size: 0.65em;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

button, a {
    transition: 0.15s;
}