@media only screen and (min-width: 375px) {
    body {
        font-size: 0.75em;
    }
    .navbar {
        height: 80px;
    }
}

@media only screen and (min-width: 500px) {
    .navbar {
        width: 400px;
    }
    .card {
        width: 90vw;
    }
}

@media only screen and (min-width: 735px) {
    body {
        font-size: 0.8em;
    }
    .navbar {
        height: 85px;
    }
}

@media only screen and (min-width: 800px) {
    .card {
        width: 800px;
    } 
    .projects .card {
        width: 980px
    }   
    body {
        font-size: 0.95em;
    }
    .navbar {
        height: 90px;
    }
}

@media only screen and (min-width: 1062px) {
    body {
        font-size: 1em;
    }
    .navbar {
        top: 0;
        bottom: 0;
        right: -5px;
        left: auto;
        height: 60vh;
        width: 100px;
        padding: 0px 5px 0px 0px;
        box-shadow: -6px 6px $highlight;
        flex-direction: column;
    }
}