.navbar {
    position: fixed;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    height: 60vh;
    width: 100px;
    border-radius: 5px 0px 0px 5px;
    background-color: $dark-accent;
    box-shadow: -6px 6px $highlight;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    button {
        font-size: 4em;
        color: $light-accent;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    button:hover, button:focus {
        color: $highlight;
    }

}