.navbar {
    background-color: $dark-accent;
    position: fixed;
    margin: auto;
    top: -5px;
    left: 0;
    right: 0;
    width: 80vw;
    height: 75px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
    box-shadow: 6px 6px $highlight;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    button {
        font-size: 4em;
        color: $light-accent;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    button:hover, button:focus {
        color: $highlight;
    }

}