.projects {
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    div {
        width: 80vw;
        height: 200px;
        background-color: lightgray;
        border-radius: 5px;
        margin: 10px 10px;

    }
}